header.header-home__margin
  .container-home
    .header-home
      a(href="tel:+7(843)2922222").phone-number.header__link +7 (843) 292-22-22

      // для незарегестрированного пользователя
       .enter-panel-guest
        button.btn.btn--auth Вход
        span  |
        button.btn.btn--registration Регистрация

      // для стилиста

      |@if (Auth::guest())
      .enter-panel-guest
            button.btn.btn--auth Вход
            span  |
            button.btn.btn--registration Регистрация
      |@else
      .enter-panel-stylist
        a(href="/portfolio").nav-link Мое портфолио
        a(href="/my_orders").nav-link Мои заказы
        a(href="#").nav-link Мои ответы
        a(href="#").nav-link.nav-profile
          .nav-profile__img
            img(src="img/user-pic.png", alt="клиентка").nav-profile__img
          .nav-profile__arrow
        .nav-profile__menu
          a.nav-profile__menu-link.nav-link {{Auth::user()->name}}
          a(href="/lk_stylist").nav-profile__menu-link.nav-link Личный кабинет (с)
          a(href="/lk_client").nav-profile__menu-link.nav-link Личный кабинет (к)
          a(href="/my_style").nav-profile__menu-link.nav-link Мой стиль (к)
          a(href="/settings").nav-profile__menu-link.nav-link Настройки
          a(href="/logout" onclick="event.preventDefault(); document.getElementById('logout-form').submit();" ).nav-profile__menu-link.nav-link Выход
          form(id="logout-form" action="{{ url('/logout') }}" method="POST" style="display: none;" )|{{ csrf_field() }}
      |@endif


      // для клиента
      // .enter-panel-client
      //   a(href="#") Мой стиль
      //   a(href="#") Мои заказы
      //   a(href="#") Мои вопросы
      //   a(href="#").nav-profile
      //     .nav-profile__img
      //       img(src="img/user-pic.jpg", alt="клиентка", height="40px", width="40px").nav-profile__img
      //     .nav-profile__arrow
      //   .nav-profile__menu
      //     a.nav-profile__menu-link Кос Крис
      //     a(href="lk-stylist.html").nav-profile__menu-link Личный кабинет
      //     a(href="settings.html").nav-profile__menu-link Настройки
      //     a(href="#").nav-profile__menu-link Выход