.modal-success
  .modal-content
    button(arial-label="Закрыть окно").btn.btn--close-auth &times;
    h3.modal__title Cпасибо!
    .modal__success
      .modal__success-img
        img(src="../../img/services/shopping-support.png", alt="")
      .modal__success-text
        p Спасибо, что обратились к нам. Наши администраторы обязательно посмотрят и ответят на вашу регистрацию в течении 24 часов.
