aside.sidebar
  .container-sidebar
    a(href="/").logo
      img(src="../img/logo.png", alt="")
    nav.sidebar__menu
      ul.sidebar__menu-list
        li.sidebar__menu-item
          a(href="/services").sidebar__menu-link Наши услуги
        li.sidebar__menu-item
          a(href="/stylists").sidebar__menu-link Наши стилисты
        li.sidebar__menu-item
          a(href="/answers").sidebar__menu-link Стилисты отвечают
        li.sidebar__menu-item
          a(href="/contacts").sidebar__menu-link Контакты
    |@if (Auth::guest())
    ul.social-icons-list
      li.social-icon-item
        a(href="#", arial-label="Ссылка на вконтакте").social-link
          svg.social-icon
            use(xmlns:xlink='http://www.w3.org/1999/xlink', xlink:href='img/spritesvg.svg#vk')
      li.social-icon-item
        a(href="#", arial-label="Ссылка на фейсбук").social-link
          svg.social-icon
            use(xmlns:xlink='http://www.w3.org/1999/xlink', xlink:href='img/spritesvg.svg#facebook')
      li.social-icon-item
        a(href="#", arial-label="Ссылка на инстаграм").social-link
          svg.social-icon
            use(xmlns:xlink='http://www.w3.org/1999/xlink', xlink:href='img/spritesvg.svg#instagram')
    .enter-panel
      button.btn.btn--auth.enter-panel__btn Вход
      button.btn.btn--registration.enter-panel__btn Регистрация
    |@endif