@charset "UTF-8";
/* Slider */
.slick-slider {
  position: relative;
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent; }

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0; }

.slick-list:focus {
  outline: none; }

.slick-list.dragging {
  cursor: pointer;
  cursor: hand; }

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  margin-left: auto;
  margin-right: auto; }

.slick-track:before, .slick-track:after {
  content: "";
  display: table; }

.slick-track:after {
  clear: both; }

.slick-loading .slick-track {
  visibility: hidden; }

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none; }

[dir="rtl"] .slick-slide {
  float: right; }

.slick-slide img {
  display: block; }

.slick-slide.slick-loading img {
  display: none; }

.slick-slide.dragging img {
  pointer-events: none; }

.slick-initialized .slick-slide {
  display: block; }

.slick-loading .slick-slide {
  visibility: hidden; }

.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent; }

.slick-arrow.slick-hidden {
  display: none; }

/* Slider */
/* Arrows */
.slick-prev,
.slick-next {
  position: absolute;
  display: block;
  height: 40px;
  width: 40px;
  line-height: 0px;
  font-size: 0px;
  border-radius: 50px;
  cursor: pointer;
  background: transparent;
  color: transparent;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  padding: 0;
  border: none;
  outline: none;
  z-index: 10; }

.slick-prev:hover, .slick-prev:focus,
.slick-next:hover,
.slick-next:focus {
  outline: none;
  background: transparent;
  color: transparent; }

.slick-prev:hover:before, .slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before {
  opacity: 1; }

.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before {
  opacity: 0.25; }

.slick-prev:before,
.slick-next:before {
  font-family: "slick";
  font-size: 20px;
  line-height: 1;
  color: white;
  opacity: 0.75;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.slick-prev {
  left: 75px;
  border: 1px solid #999; }

[dir="rtl"] .slick-prev {
  left: auto;
  right: 75px; }

.slick-prev:before {
  content: "←";
  color: #999; }

[dir="rtl"] .slick-prev:before {
  content: "→"; }

.slick-next {
  right: 75px;
  border: 1px solid #999; }

[dir="rtl"] .slick-next {
  left: 75px;
  right: auto; }

.slick-next:before {
  content: "→";
  color: #999; }

[dir="rtl"] .slick-next:before {
  content: "←"; }

/* Dots */
.slick-dotted.slick-slider {
  margin-bottom: 30px; }

.slick-dots {
  position: absolute;
  bottom: -25px;
  list-style: none;
  display: block;
  text-align: center;
  padding: 0;
  margin: 0;
  width: 100%; }

.slick-dots li {
  position: relative;
  display: inline-block;
  height: 20px;
  width: 20px;
  margin: 0 5px;
  padding: 0;
  cursor: pointer; }

.slick-dots li button {
  border: 0;
  background: transparent;
  display: block;
  height: 20px;
  width: 20px;
  outline: none;
  line-height: 0px;
  font-size: 0px;
  color: transparent;
  padding: 5px;
  cursor: pointer; }

.slick-dots li button:hover, .slick-dots li button:focus {
  outline: none; }

.slick-dots li button:hover:before, .slick-dots li button:focus:before {
  opacity: 1; }

.slick-dots li button:before {
  position: absolute;
  top: 0;
  left: 0;
  content: "•";
  width: 20px;
  height: 20px;
  font-family: "slick";
  font-size: 6px;
  line-height: 20px;
  text-align: center;
  color: black;
  opacity: 0.25;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.slick-dots li.slick-active button:before {
  color: black;
  opacity: 0.75; }

@font-face {
  font-family: "Open Sans";
  src: local("Open Sans Regular"), local("OpenSans-Regular"), url("../fonts/Open Sans/Open Sans Regular.woff2") format("woff2"), url("../fonts/Open Sans/Open Sans Regular.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: "Open Sans";
  src: local("Open Sans Bold"), local("OpenSans-Bold"), url("../fonts/Open Sans/Open Sans Bold.woff2") format("woff2"), url("../fonts/Open Sans/Open Sans Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: "Montserrat";
  src: local("Montserrat Medium"), local("Montserrat-Medium"), url("../fonts/Montserrat/Montserrat-Medium.woff2") format("woff2"), url("../fonts/Montserrat/Montserrat-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: "Montserrat";
  src: local("Montserrat SemiBold"), local("Montserrat-SemiBold"), url("../fonts/Montserrat/Montserrat-SemiBold.woff2") format("woff2"), url("../fonts/Montserrat/Montserrat-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap; }

* {
  margin: 0;
  padding: 0; }

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit; }

body {
  font-family: Arial;
  font-weight: normal;
  line-height: 1.5; }

ul,
li {
  list-style: none; }

a {
  text-decoration: none; }

textarea {
  resize: none; }

.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 10px; }

.container-lk {
  width: 40%;
  margin: 0 auto; }

.container-sidebar {
  max-width: 86%;
  margin: 0 auto;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }

.container-communication {
  max-width: 80%;
  margin: 0 auto; }

.container-home {
  max-width: 94%;
  margin: 0 auto; }

.header-home {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.header-home__margin {
  padding-top: 10px; }

.header__link {
  color: #000;
  font-weight: 600; }

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

.btn {
  border: none;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  background: none;
  font-size: 12px;
  cursor: pointer; }

.btn__card {
  margin-top: 10px; }

.btn--close-auth,
.btn--close-registration {
  width: 40px;
  height: 40px;
  color: #888;
  float: right;
  font-size: 28px;
  font-weight: bold;
  border: 1px solid #999;
  border-radius: 50%;
  position: absolute;
  right: 10px; }

.btn--auth,
.btn--registration,
.btn--exit {
  background-color: transparent;
  text-transform: uppercase;
  font-family: "Montserrat";
  font-weight: 600; }

.btn--action {
  min-width: 250px;
  padding: 0 20px;
  height: 50px;
  border-radius: 25px;
  color: #fff;
  font-weight: 700;
  text-transform: uppercase;
  background-color: #0e7e77;
  -webkit-box-shadow: 0px 5px 36px -6px rgba(0, 0, 0, 0.75);
          box-shadow: 0px 5px 36px -6px rgba(0, 0, 0, 0.75); }

.btn--action:hover {
  background-color: #084c47; }

.btn--action-small {
  min-width: 150px; }

.btn--action-buy {
  min-width: 120px;
  max-width: 150px;
  height: 40px;
  -webkit-box-shadow: none;
          box-shadow: none; }

.btn--upload-more-stylists {
  width: 87px;
  height: 87px;
  background-image: url(../img/upload.png); }

.btn--count {
  width: 27px;
  height: 27px;
  -webkit-box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.4);
          box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.4);
  background-color: #0e7e77;
  color: #fff;
  border-radius: 50%; }

.btn--count:active {
  -webkit-box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.4);
          box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.4); }

.btn--edit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #eee;
  color: #000000;
  padding: 10px 20px;
  border-radius: 4px; }

.nav-link {
  text-transform: uppercase;
  margin: 0 15px;
  color: #000;
  font-family: "Montserrat";
  font-weight: 600;
  line-height: normal; }

.nav-profile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 0; }

.nav-profile__img {
  border-radius: 50%;
  height: 40px;
  width: 40px; }

.nav-profile__arrow {
  background-image: url(../img/arrow.svg);
  background-repeat: no-repeat;
  color: #eee;
  margin-left: 5px;
  width: 15px;
  height: 10px;
  opacity: 0.7; }

.nav-profile__menu {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  visibility: hidden;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  right: 0px;
  background-color: #fff;
  top: 45px;
  padding: 10px;
  border: 1px solid black;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  z-index: 11; }

.nav-profile__menu-link {
  padding: 5px 0; }

.nav-profile__menu-link:first-child {
  margin-bottom: 10px;
  border-bottom: 1px solid #000; }

.nav-profile__visible {
  visibility: visible; }

.main {
  background-color: #fff; }

.form-orders-service__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 20px 0; }

.form__textarea {
  width: 100%;
  border: 1px solid #90a4ae;
  border-radius: 5px;
  padding: 10px 20px;
  outline: none;
  margin-bottom: 10px;
  resize: none; }

.form__textarea:focus {
  border-color: #7cbeac; }

.form__input {
  width: 100%;
  border: 1px solid #90a4ae;
  border-radius: 5px;
  padding: 10px 20px;
  outline: none;
  margin-bottom: 10px; }

.form__input:focus {
  border-color: #7cbeac; }

.photo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.photo__first:before {
  content: "До";
  position: absolute;
  width: 70px;
  bottom: 40px;
  text-align: center;
  font-weight: bold;
  padding: 10px;
  background-color: #fef7c6; }

.photo__second {
  margin-left: 10px; }

.photo__second:before {
  content: "После";
  position: absolute;
  width: 70px;
  bottom: 40px;
  text-align: center;
  font-weight: bold;
  padding: 10px;
  background-color: #fef7c6; }

.photo__before {
  height: 400px; }

.photo__after {
  height: 400px; }

.photo__first,
.photo__second {
  position: relative; }

.sidebar {
  width: 18%;
  height: 100%;
  background-color: #fdf0da;
  background-image: url(../img/background.png);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 20px 0;
  position: fixed; }

.sidebar__menu {
  margin-top: 50px;
  background-color: #fdf0da;
  padding: 20px 0px; }

.sidebar__menu-item {
  margin: 20px 0; }

.sidebar__menu-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-transform: uppercase;
  font-size: 15px;
  font-weight: bold;
  color: #111; }

.social-icons-list {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 20px;
  margin-top: auto; }

.social-icon-link,
.social-icon {
  width: 25px;
  height: 25px; }

.enter-panel {
  margin-top: 20px;
  padding: 10px 10px;
  border: 2px solid #909192;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #fdf0da; }

.enter-panel__btn {
  padding: 5px 0; }

.enter-panel-stylist,
.enter-panel-client {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  color: #000;
  font-weight: 600;
  font-size: 12px; }

.home {
  width: 82%;
  margin-left: 18%; }

.slider {
  margin-top: 30px;
  padding: 0 130px;
  overflow: hidden;
  height: 320px; }

.slider--portfolio {
  width: 100%;
  padding: 0; }

.slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

.slide__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }

.slide__photos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

.slick-initialized .slick-slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.slider-tips__number {
  margin-top: 30px;
  margin-bottom: 30px;
  width: 300px;
  text-align: center; }

.slider-tips .slick-next {
  top: 424px;
  left: 254px; }

.slider-tips .slick-prev {
  top: 424px;
  left: 0; }

.information {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 50px; }

.information__text {
  font-size: 15px; }

.information__title {
  font-size: 18px; }

.infrotamtion__what,
.infrotamtion__help,
.infrotamtion__guarantee {
  width: 33.33%;
  padding: 0 20px; }

.start-change {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 20px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

.modal-auth,
.modal-registration,
.modal-success {
  display: none; }

.modal-auth-show {
  display: block;
  position: fixed;
  z-index: 999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.8);
  -webkit-transition: 0.5s;
  transition: 0.5s; }

.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: 5% auto;
  padding: 20px;
  border: 1px solid #999;
  width: 35%; }

.modal-content--registration {
  margin: 2% auto 0 auto; }

.modal__title {
  text-align: center;
  font-size: 32px;
  margin-top: 20px; }

.modal__social {
  width: 100px;
  margin: 0 auto; }

.modal__text {
  text-align: center;
  margin: 10px 0; }

.modal__success {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.modal__success-img, .modal__success-text {
  width: 50%; }

.modal__success-text {
  -ms-flex-item-align: center;
      align-self: center; }

.section__home {
  margin-top: 30px;
  margin-bottom: 30px; }

.section__title {
  text-align: center;
  margin-bottom: 30px;
  font-family: "Montserrat"; }

.section__title:after {
  display: block;
  content: "";
  height: 2px;
  width: 6%;
  margin: 0 auto;
  background-color: #000; }

.section--error {
  margin-top: 100px; }

.section--stylists {
  margin-bottom: 50px; }

.error-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto; }

.communication {
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.communication__contacts,
.communication__feedback {
  width: 50%;
  padding: 10px; }

.communication__feedback {
  border-right: 1px solid #90a4ae; }

.communication__accent {
  font-size: 18px; }

.contacts__communication__accent {
  margin-bottom: 10px;
  padding-top: 10px; }

.communication__contacts__phone-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 10px 0; }

.communication__contacts__phone-number {
  font-size: 22px;
  color: #000;
  font-weight: 700; }

.communication__contacts__email {
  color: #0e7e77;
  font-size: 22px;
  text-decoration: underline; }

.communication__contacts__email:hover {
  color: #084c47; }

.ask-question__preview {
  background-color: #fdf0da;
  padding: 40px 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.ask-question__preview-text {
  margin-right: 10%; }

.ask-question__preview__wrapper {
  margin-bottom: 30px; }

.ask-question__quest {
  margin-bottom: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.ask-question__quest-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 20px;
  min-width: 50px;
  height: 50px;
  border: 1px solid #0e7e77;
  border-radius: 50%;
  color: #0e7e77;
  font-weight: bold; }

.ask-question__quest-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }

.ask-question__quest-block-title {
  text-decoration: underline;
  color: #0e7e77;
  font-weight: 600;
  margin-bottom: 10px; }

.stylists__section {
  margin-top: 20px;
  font-family: "Open Sans"; }

.stylists__sort {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.stylists__service {
  margin-right: 10px; }

.stylists__service:last-child {
  margin-right: 0; }

.stylists__upload {
  margin-top: 47px;
  margin-bottom: 37px;
  text-align: center; }

.stylists__upload-text {
  text-transform: uppercase;
  color: #0e7e77;
  font-size: 14px;
  font-family: "Open Sans"; }

.card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.card__margin {
  margin-top: 60px; }

.card__margin:last-child {
  margin-bottom: 60px; }

.card__photo-block {
  min-width: 300px;
  text-align: center; }

.card__photo-block--service {
  min-width: 240px; }

.card__photo--stylist {
  width: 100%; }

.card__title-second {
  color: #000000;
  font-family: "Open Sans";
  font-size: 16px;
  font-weight: 700;
  line-height: 18px; }

.card__description {
  margin-left: 30px; }

.card__description--services {
  padding-bottom: 30px;
  border-bottom: 1px solid #555; }

.card__description__title {
  color: #000000;
  font-size: 18px;
  font-weight: 700;
  line-height: 18px;
  margin-bottom: 10px; }

.card__description__title--center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 30px; }

.card__description__text {
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  margin-bottom: 15px; }

.card__photo-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 10px; }

.card__photo-list__block {
  margin-right: 10px; }

.card__photo-list__block:last-child {
  margin-right: 0; }

.card__photo-list__photo {
  width: 80px;
  height: 80px; }

.card__choose-price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.card__choose-price-block {
  width: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch; }

.card__choose-price__category {
  height: 100%;
  margin-bottom: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.card__count {
  font-weight: normal; }

/* Общие стили личного кабинета */
/* Стили личного кабинета стилиста */
.lk-stylist__attention {
  border: 3px solid #0e7e77;
  padding: 20px; }

.lk-stylist__attention-orders {
  height: 250px;
  overflow-y: scroll; }

/* Стили личного кабинета клиента */
.lk-client__style {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.lk-client__style-photo {
  min-width: 280px;
  margin-right: 40px;
  text-align: center; }

.lk-client__style-photo--before-after {
  -ms-flex-negative: 0;
      flex-shrink: 0; }

.lk-client__style-seasons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }

.lk-client__style-seasons-list {
  width: 215px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.lk-client__style-seasons-item {
  margin-right: 30px; }

.lk-client__style-seasons-item:last-child {
  margin-right: 0; }

.lk-client__style-seasons-description-text {
  margin-top: 20px;
  font-size: 16px;
  line-height: 1.4em; }

.lk-client__style-seasons-description {
  display: none; }

.lk-client__style-seasons-description--active {
  display: block; }

.lk__photo {
  width: 300px; }

.order {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.order__inner {
  margin-top: 10px;
  margin-bottom: 20px; }

.order__number {
  font-size: 16px;
  color: #0e7e77;
  text-decoration: underline; }

.order__number__order__status {
  margin-left: 15px; }

.order__status-text {
  font-size: 16px;
  font-family: "Open Sans";
  line-height: 18px; }

.order__status-pay {
  font-size: 13px;
  color: #707070; }

.order__pay-link {
  color: #0e7e77;
  text-decoration: underline; }

.orders-list__names-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.orders-list__names-item {
  margin-right: 33px; }

.orders-block__inner {
  margin: 50px 0; }

.orders__tip-description {
  font-size: 14px;
  line-height: 18px;
  margin-bottom: 20px; }

.orders__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 18px;
  font-weight: bold;
  border-bottom: 1px solid #000; }

.orders__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 90px;
  padding: 10px 0;
  border-bottom: 1px solid #9b9b9b; }

.orders__item:last-child {
  border-bottom: none; }

.orders__checkbox {
  width: 5%; }

.orders__photo {
  width: 12%; }

.orders__date-name {
  width: 18%; }

.orders__service {
  width: 18%; }

.orders__format {
  width: 18%; }

.orders__id {
  width: 10%; }

.orders__class {
  width: 10%; }

.orders__price {
  width: 10%; }

.orders__count {
  width: 11%; }

.orders__take {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end; }

.orders__buy {
  width: 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end; }

.orders__delete {
  width: 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.orders__delete__pic {
  width: 100%;
  height: 26px; }

.orders__service--big {
  width: 40%;
  text-align: left;
  padding: 0 50px 0 30px; }

.orders__date-name--big {
  width: 16%; }

.orders__count--big {
  width: 16%; }

.orders__price--big {
  width: 16%; }

.orders__count-change {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.secondary-title {
  font-size: 18px;
  font-family: "Open Sans";
  margin-bottom: 20px; }

.secondary-title--slim {
  margin-bottom: 0; }

.link-change-content {
  font-size: 16px;
  color: #0e7e77;
  border-bottom: 1px dashed #0e7e77; }

.link-change-content--active {
  color: #000;
  border-bottom: none;
  font-weight: bold; }

.link-common {
  color: #0e7e77;
  font-size: 16px;
  text-decoration: underline;
  display: block;
  margin-top: auto; }

.link-common--right {
  text-align: right; }

.link-tab {
  color: #0e7e77;
  border-bottom: 1px dashed #0e7e77; }

.link-active {
  color: #000000;
  border-bottom: none; }

.info-block {
  border: 1px solid #eee;
  padding: 20px 30px; }

.info-block__wrapper {
  margin-top: 30px;
  margin-bottom: 50px; }

.scroll-block {
  height: 600px;
  overflow-y: scroll;
  padding-right: 30px; }

.scroll-block--orders {
  text-align: center; }

.scroll-block--slim {
  height: 400px; }

.scroll-block__wrapper {
  margin-bottom: 30px; }

.comment {
  width: 430px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.comment__slider {
  margin-top: 20px; }

.comment__user-photo {
  margin-right: 20px; }

.comment__user-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }

.comment__user-text-title {
  color: #050505;
  font-family: "Open Sans";
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 1.05px; }

.comment__user-text-text {
  color: #000000;
  font-family: "Open Sans";
  font-size: 14px;
  font-weight: 400;
  line-height: 18px; }

.portfolio__title {
  margin-top: 50px; }

.portfolio__margin {
  margin-top: 50px; }

.portfolio__margin:first-child {
  margin-top: 0; }

.portfolio-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 35px;
  border-bottom: 1px solid #90a4ae; }

.portfolio-item--editing {
  border: 1px dashed #90a4ae;
  padding: 30px; }

.portfolio-item__text {
  margin-left: 35px; }

.portfolio-item__text--add {
  max-width: 47%; }

.my-orders {
  margin-bottom: 100px; }

.my-orders__status {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 250px; }

.my-orders__item {
  margin-top: 40px;
  display: none; }

.my-orders__item--active {
  display: block; }

.my-orders__result {
  margin: 20px 0;
  text-align: right; }

.my-orders__result b {
  margin-left: 10px; }

.my-orders__result-wrapper {
  margin: 20px 0; }

.input--number::-webkit-outer-spin-button,
.input--number::-webkit-inner-spin-button {
  -webkit-appearance: none; }

.input-count {
  width: 40px;
  height: 40px;
  margin: 0 10px;
  border-radius: 4px;
  border: 1px solid #0e7e77;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -moz-appearance: textfield; }

.input-price {
  background-color: transparent;
  border: none;
  width: 40px;
  color: #000;
  font-size: 16px; }

.input-checkbox {
  width: 17px;
  height: 17px;
  border-radius: 4px;
  border: 1px solid #737373;
  background: #fff; }

.select-orders {
  height: 44px;
  border-radius: 6px;
  border: 1px solid #90a4ae;
  background-color: #ffffff; }

.select-orders--long {
  width: 480px; }

.select-orders--short {
  width: 150px; }

.input__photo {
  width: 90%;
  height: 300px;
  background-color: #eee;
  opacity: 0; }

.label__photo {
  background-image: url(https://picaflor-azul.com/images/plus-circle1.png);
  background-position: 35%;
  background-size: 50%;
  background-repeat: no-repeat; }

.success {
  margin-top: 20px;
  width: 100%;
  color: #000000;
  border: 1px solid #0e7e77;
  background-color: #7cbeac;
  border-radius: 5px;
  padding: 10px 20px;
  outline: none;
  margin-bottom: 10px;
  text-align: center;
  font-weight: bold;
  font-size: 16px; }
