.banner {
  background-image: url(../img/banners/banner4.jpg);
  background-size: cover;
  min-height: 60vh;
  position: relative;
}

.banner__slogan {
  position: absolute;
  left: 4%;
  top: 32%;
  font-size: 22px;
  text-align: center;

  &-text {
    margin-bottom: 10px;
  }
}