.card {
  display: flex;
}

.card__margin {
  margin-top: 60px;

  &:first-child {
    margin-top: 30px;
  }

  &:last-child {
    margin-bottom: 60px;
  }
}

.card__photo-block {
  min-width: 300px;
  text-align: center;

  &--service {
    min-width: 240px;
  }
}

.card__photo--stylist {
  width: 100%;
}

.card__title-second {
  color: $color-text;
  font-family: "Open Sans";
  font-size: 16px;
  font-weight: 700;
  line-height: 18px;
}

.card__description {
  margin-left: 30px;

  &--services {
    padding-bottom: 30px;
    border-bottom: 1px solid #555;
  }

  &__title {
    color: $color-text;
    font-size: 18px;
    font-weight: 700;
    line-height: 18px;
    margin-bottom: 10px;

    &--center {
      display: flex;
      justify-content: center;
      margin-top: 30px;
    }
  }

  &__text {
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    margin-bottom: 15px;
  }
}

.card__photo-list {
  display: flex;
  margin-bottom: 10px;

  &__block {
    margin-right: 10px;

    &:last-child {
      margin-right: 0;
    }
  }

  &__photo {
    width: 80px;
    height: 80px;
  }
}

.card__choose-price {
  display: flex;
  justify-content: space-between;

  &-block {
    width: 150px;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-between;
    align-items: stretch;
  }

  &__category {
    height: 100%;
    margin-bottom: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.card__count {
  font-weight: normal;
}