.card {
  display: flex;
}

.card__margin {
  margin-top: 60px;

  &--profile {
    margin-bottom: 50px;
  }

  &:first-child {
    margin-top: 40px;
  }

  &:last-child {
    margin-bottom: 60px;
  }
}

.card__photo-block {
  min-width: 300px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;

  &--service {
    min-width: 240px;
  }
}

.card__photo--stylist {
  max-width: 300px;
}

.card__description {
  margin-left: 30px;

  &--services {
    display: flex;
    flex-direction: column;
    padding-bottom: 30px;
    border-bottom: 1px solid #555;
  }

  &__title {
    font-weight: 600;
    color: $color-text;
    margin-bottom: 8px;
  }

  &__text {
    font-size: 15px;
    margin-bottom: 8px;
    color: $color-text;
  }
}

.card__photo-list {
  display: flex;
  margin-bottom: 10px;

  &__block {
    margin-right: 10px;

    &:last-child {
      margin-right: 0;
    }
  }

  &__photo {
    width: 80px;
    height: 80px;
  }
}

.card__choose-price {
  display: flex;
  justify-content: space-between;
  margin-top: auto;
  margin-bottom: auto;

  &-block {
    width: 150px;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-between;
    align-items: stretch;
  }

  &__category {
    height: 100%;
    margin-bottom: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.card__count {
  font-weight: normal;
}