.chat {
  position: fixed;
  bottom: 30px;
  right: 5%;
  width: 250px;
  border: 1px solid #999;
}

.chat__instrument-panel {
  display: flex;
  justify-content: space-between;
  min-height: 20px;
  background-color: $cream;
  padding: 5px 10px;
  font-size: 14px;
  font-weight: bold;
}

.btn--chat-exit {
  font-weight: bold;
}

.chat__messages {
  overflow-y: scroll;
  height: 300px;
}

.chat__message {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;

  &-notmy {
    flex-direction: row-reverse;
  }

  &:last-child {
    margin-bottom: 20px;
  }
}

.chat__message-text-all {
  font-size: 12px;
  padding: 5px;
  border: 1px solid #999;
  border-radius: 10px;
  margin: 10px;
}

.chat__message-text-one {
  margin-bottom: 7px;
}

.chat__profile__img {
  margin: 5px;
}

.chat__from {
  display: flex;
}

.chat__input-text {
  width: 70%;
  padding: 10px;
  border: none;
  font-size: 12px;
  border-top: 1px solid #999;
}

.chat__submit {
  width: 30%;
}