@media ($xs) {
  .communication {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
  }

  .communication__contacts,
  .communication__feedback {
    width: 100%;
    min-width: 300px;
    padding: 10px;
  }
}

@media ($md) {
  .communication {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
  }

  .communication__contacts,
  .communication__feedback {
    width: 50%;
    min-width: 300px;
    padding: 10px;
  }

  .communication__feedback {
    border-right: 1px solid $color-input;
  }
}

.communication__accent {
  font-size: 18px;
}

.contacts__communication__accent {
  margin-bottom: 10px;
  padding-top: 10px;
}

.communication__contacts__phone-block {
  display: flex;
  flex-direction: column;
  margin: 10px 0;
}

.communication__contacts__phone-number {
  font-size: 22px;
  color: $color-text;
  font-weight: 700;
}

.communication__contacts__email {
  color: $color-accent;
  font-size: 22px;
  text-decoration: underline;

  &:hover {
    color: $color-accent-dark;
  }
}
