.form-orders-service {
  &__inner {
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
  }
}

.form__textarea {
  width: 100%;
  border: 1px solid $color-input;
  border-radius: 5px;
  padding: 10px 20px;
  outline: none;
  margin-bottom: 10px;
  resize: none;

  &:focus {
    border-color: $color-accent-light;
  }
}

.form__input {
  width: 100%;
  border: 1px solid $color-input;
  border-radius: 5px;
  padding: 10px 20px;
  outline: none;
  margin-bottom: 10px;

  &:focus {
    border-color: $color-accent-light;
  }
}

.select {
  border: 1px solid $color-input;
  border-radius: 5px;
  padding: 10px 20px;

  &:focus {
    border-color: $color-accent-light;
  }
}

.form__output-avatar {
  max-width: 100%;
  padding: 8px;
  border: 2px dashed #ddd;
  display: block;
  margin-bottom: 10px;
}

.form__output-diploms {
  display: inline-block;
  max-width: 100%;
  height: 150px;
  padding: 5px;
  border: 1px dashed #ddd;
  margin: 10px 5px 0 0;
}