@media ($xs) {
  .header-home {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 40px;
    font-size: 10px;

    &__wrapper {
      padding-top: 10px;
      padding-bottom: 10px;
    }
  }

  .header__phone-number {
    color: #000;
    font-weight: 600;
    font-family: "Montserrat";
    margin-right: auto;
  }
}

@media (min-width: '400px') {
  .header-home {
    font-size: 12px;
  }
}

@media ($sm) {
  .header__phone-number {
    font-size: 16px;
  }
}
