.information {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;

  &__text {
    font-size: 15px;
  }
}

.information__title {
  font-size: 18px;
}

.infrotamtion__what,
.infrotamtion__help,
.infrotamtion__guarantee {
  width: 33.33%;
  padding: 0 20px;
}
