.information {
  margin-top: 50px;
}

.information__title {
  &-first {
    font-size: 24px;
    text-align: center;
  }

  &-second {
    font-size: 18px;
    text-align: center;
    margin-bottom: 50px;
  }
}

.infotmation__categories {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
