.link-change-content {
  cursor: pointer;
  font-size: 15px;
  color: $color-accent;
  border-bottom: 1px dashed $color-accent;

  &--active {
    color: #000;
    border-bottom: none;
    font-weight: bold;
  }
}

.link-tab {
  color: $color-accent;
  border-bottom: 1px dashed $color-accent;
}

.link-active {
  color: #000000;
  border-bottom: none;
}
