/* Общие стили личного кабинета */

.lk__photo {
  max-width: 270px;
}

.lk__block {
  margin-bottom: 50px;
  position: relative;
}

.lk__items-list {
  width: 215px;
  display: flex;
  justify-content: space-between;
  padding-bottom: 20px;
}

.lk__item-color-type {
  cursor: pointer;
  font-size: 15px;
  color: $color-accent;
  border-bottom: 1px dashed $color-accent;

  &--active {
    color: #000;
    border-bottom: none;
    font-weight: bold;
  }
}

.lk__style-color-type {
  display: none;

  &--active {
    display: flex;
  }
}

.lk__description-block {
  margin-left: 40px;
}

/* Стили личного кабинета стилиста */

.lk-stylist__education {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;

  &--empty {
    padding: 40px 0;
    text-align: center;
    border: 2px dashed #ddd;
  }

  &-document {
    position: relative;
    margin-right: 20px;
    margin-left: 20px;
    margin-bottom: 10px;
    margin-top: 10px;
  }
}

.lk-stylist__diplom {
  width: 130px;
}

/* Стили личного кабинета клиента */

.lk-client__style {
  display: flex;
}

.lk-client__style-photo {
  max-width: 280px;
  margin-right: 40px;
}

.lk-client__style-photo-before-after {
  display: flex;
  margin-right: 40px;
}

.lk__email-send {
  font-size: 15px;
}