/* Общие стили личного кабинета */

.lk__photo {
  width: 300px;
}

/* Стили личного кабинета стилиста */

.lk-stylist__block {
  margin-bottom: 50px;
}

.lk-stylist__attention-orders {
  height: 250px;
  overflow-y: scroll;
}

.lk-stylist__education {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;

  &--empty {
    padding: 40px 0;
    text-align: center;
    border: 2px dashed #ddd;
  }

  &-document {
    position: relative;
    margin-right: 20px;
    margin-left: 20px;
    margin-bottom: 10px;
    margin-top: 10px;
  }
}

.lk-stylist__diplom {
  width: 130px;
}

/* Стили личного кабинета клиента */

.lk-client__style {
  display: flex;
}

.lk-client__style-photo {
  max-width: 280px;
  margin-right: 40px;
  text-align: center;
}

.lk-client__style-photo-before-after {
  display: flex;
  margin-right: 40px;
}

.lk-client__style-seasons {
  display: flex;
  flex-direction: column;

  &-photo {
    min-width: 280px;
    max-width: 281px;
  }
}

.lk-client__style-seasons-list {
  width: 215px;
  display: flex;
  justify-content: space-between;
  padding-bottom: 20px;
  font-family: "Montserrat";
}

.lk-client__paragraph {
  margin-bottom: 20px;
}

.lk-client__style-seasons-item {
  margin-right: 30px;

  &:last-child {
    margin-right: 0;
  }
}

.lk-client__style-seasons-description {
  display: none;

  &--active {
    display: flex;
  }
}