.message-success,
.message-error {
  border: 1px solid #e6e6e6;
  background: #f6f6f6;
  display: none;
  text-align: center;
  padding: 15px;
  margin: 10px 0;
  font-weight: 600;
  font-size: 14px;
}

.message-success {
  border: 1px solid #afd4a9;
  background-color: rgb(239, 250, 237);
}

.message-error {
  border: 1px solid #af1616;
  background-color: rgb(253, 236, 236);
}