.my-orders {
  margin-bottom: 100px;
}

.my-orders__status {
  display: flex;
  justify-content: space-between;
  width: 250px;
}

.my-orders__item {
  margin-top: 40px;
  display: none;

  &--active {
    display: block;
  }
}

.my-orders__result {
  margin: 20px 0;
  text-align: right;

  b {
    margin-left: 10px;
  }

  &-wrapper {
    margin: 20px 0;
  }
}