.nav-link {
  text-transform: uppercase;
  margin: 0 15px;
  color: #000;
  font-family: "Montserrat";
  font-weight: 600;
  line-height: normal;
}

.nav-profile {
  display: flex;
  align-items: center;
  margin-right: 0;

  &__img {
    border-radius: 50%;
    height: 40px;
    width: 40px;
  }

  &__arrow {
    background-image: url(../img/arrow.svg);
    background-repeat: no-repeat;
    color: #eee;
    margin-left: 5px;
    width: 15px;
    height: 10px;
    opacity: 0.7;
  }

  &__menu {
    position: absolute;
    display: flex;
    visibility: hidden;
    flex-direction: column;
    right: 0px;
    background-color: #fff;
    top: 45px;
    padding: 10px;
    border: 1px solid black;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    z-index: 11;

    &-link {
      padding: 5px 0;

      &:first-child {
        margin-bottom: 10px;
        border-bottom: 1px solid #000;
      }
    }
  }

  &__visible {
    visibility: visible;
  }
}
