.order {
  display: flex;

  &__inner {
    margin-top: 20px;
    margin-bottom: 20px;
  }
}

.order__number {
  font-size: 16px;
  color: $color-accent;
  text-decoration: underline;
}

.order__number__order__status {
  margin-left: 15px;
}

.order__status {
  &-text {
    font-size: 16px;
    font-family: "Montserrat";
    line-height: 18px;
  }

  &-pay {
    font-size: 13px;
    color: #707070;
  }
}

.order__pay-link {
  color: $color-accent;
  text-decoration: underline;
}

.orders-list__names-list {
  display: flex;
}

.orders-list__names-item {
  margin-right: 33px;
}

.orders-block__inner {
  margin: 50px 0;
}

.orders__tip {
  &-description {
    font-size: 14px;
    line-height: 18px;
    margin-bottom: 20px;
  }
}

.orders {
  margin: 40px 0;

  &__title {
    display: flex;
    justify-content: space-between;
    font-size: 18px;
    font-weight: bold;
    border-bottom: 1px solid #000;
  }

  &__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 90px;
    padding: 10px 0;
    border-bottom: 1px solid #9b9b9b;

    &:last-child {
      border-bottom: none;
    }
  }

  &__checkbox {
    width: 5%;
  }

  &__photo {
    width: 12%;
  }

  &__date-name {
    width: 18%;
  }

  &__service {
    width: 18%;
  }

  &__format {
    width: 18%;
  }

  &__id {
    width: 10%;
  }

  &__class {
    width: 10%;
  }

  &__price {
    width: 15%;
  }

  &__count {
    width: 11%;
  }

  &__take {
    display: flex;
    justify-content: flex-end;
  }

  &__status {
    width: 20%;
  }

  &__buy {
    width: 15%;
    display: flex;
    justify-content: flex-end;
  }

  &__delete {
    width: 5%;
    display: flex;
    align-items: center;
  }

  &__delete__pic {
    width: 100%;
    height: 26px;
  }

  &__service--big {
    width: 40%;
    text-align: left;
    padding: 0 30px 0 30px;
  }

  &__date-name--big {
    width: 16%;
  }

  &__count--big {
    width: 16%;
  }

  &__price--big {
    width: 10%;
  }

  &__count-change {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
