.photo__first,
.photo__second {
  position: relative;
}

.photo__first {
  margin-right: 10px;

  &:before {
    content: "До";
    position: absolute;
    width: 70px;
    bottom: 40px;
    text-align: center;
    font-weight: bold;
    padding: 10px;
    background-color: $before-after;
  }
}

.photo__second {
  &:before {
    content: "После";
    position: absolute;
    width: 70px;
    bottom: 40px;
    text-align: center;
    font-weight: bold;
    padding: 10px;
    background-color: $before-after;
  }
}


