.portfolio__title {
  margin-top: 50px;
}

.portfolio__margin {
  margin-top: 50px;

  &:first-child {
    margin-top: 0;
  }
}

@media ($xs) {
  .portfolio-item {
    display: flex;
    flex-direction: column;
    padding-bottom: 35px;
    border-bottom: 1px solid $color-input;

    &--editing {
      border: 1px dashed $color-input;
      padding: 30px;
    }
  }
}

@media (min-width: '1200px') {
  .portfolio-item {
    flex-direction: row;
  }
}

.portfolio-item__text {
  margin-left: 35px;

  &--add {
    max-width: 47%;
  }
}

.portfolio__photo {
  max-width: 250px;
  max-height: 310px;
}