.sidebar {
  width: 18%;
  height: 100%;
  background-color: $cream;
  background-image: url(../img/background.png);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 20px 0;
  position: fixed;
}

.sidebar__menu {
  margin-top: 50px;
  background-color: $cream;
  padding: 20px 0px;
}

.sidebar__menu-item {
  margin: 20px 0;
}

.sidebar__menu-link {
  @include flex-container($spacing: center);
  text-transform: uppercase;
  font-size: 15px;
  font-weight: bold;
  color: #111;
}
