.sidebar {
  width: 242px;
  height: 100%;
  background-color: $cream;
  background-image: url(../img/background.png);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 20px 0;
  position: fixed;
}

.container-sidebar {
  max-width: 86%;
  margin: 0 auto;
  height: 100%;
}

.sidebar__wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.sidebar__menu {
  margin-top: 30%;
  background-color: $cream;
  padding: 20px 0px;
  text-align: center;
}

.sidebar__menu-item {
  margin: 20px 0;
}

.sidebar__menu-link {
  display: flex;
  justify-content: center;
  text-transform: uppercase;
  font-size: 15px;
  font-weight: bold;
  color: #111;
}
