.social-icons-list {
  display: flex;
  justify-content: space-around;
  margin-top: auto;
}

.social-icon-link,
.social-icon {
  width: 25px;
  height: 25px;
}

.social-link {
  cursor: pointer;
  display: block;
  height: 25px;
}
