@media ($xs) {
  .stylists__sort {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;

    &-category {
      margin-bottom: 10px;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  .stylists__service {
    margin-right: 10px;

    &:last-child {
      margin-right: 0;
    }
  }
}

@media ($sm) {
  .stylists__sort {
    flex-direction: row;

    &-category {
      margin-right: 10px;
    }
  }
}