.stylists__section {
  margin-top: 20px;
  font-family: "Open Sans";
}

.stylists__sort {
  display: flex;
  justify-content: flex-start;

  &-category {
    margin-right: 10px;
  }
}

.stylists__service {
  margin-right: 10px;

  &:last-child {
    margin-right: 0;
  }
}
