.title-second {
  font-size: 18px;
  font-family: "Montserrat";
  margin-bottom: 20px;
  padding-bottom: 10px;
  border-bottom: 2px solid #eee;
}

.title-block {
  font-size: 18px;
  font-family: "Montserrat";
  margin-bottom: 10px;
}