extends layout

block title
  title Главная

block section
  section.slider.section__home
    .slide
      .photo__first
        img(src="img/client2.jpg", alt="")
      .photo__second
        img(src="img/client3.jpg", alt="")
    .slide
      .photo__first
        img(src="img/client2.jpg", alt="")
      .photo__second
        img(src="img/client3.jpg", alt="")
  .information
    .infrotamtion__what
      h2.information__title Что это за проект?
      p.information__text Не всем дано сходу подобрать свой образ. Каждая женщина мечтает найти свой стиль и изюменку. Наши стилисты помогут вам. Также помогаем мужчинам :)
    .infrotamtion__help
      h2.information__title Стилисты помогут
      p.information__text Мы поможем подобрать вам идеальный стиль. Наши стилисты помогут вам в этом. В нашей базе более n стилистов и каждый день их количество растет.
    .infrotamtion__guarantee
      h2.information__title Гарантия 100%
      p.information__text Вы получаете гарантию на то, что вы преобразитесь в лучшую сторону. Наши стилисты проходят тщательный контроль и вы можете быть уверены в успехе вашего нового образа.
  .start-change
    button.btn.btn--action Начать преображение


