<!DOCTYPE html>
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Все страницы
  body
    ul
      li
        a(href="home.html") Главная страница
      
      br

      li
        a(href="services.html") Наши услуги
      li
        a(href="stylists.html") Наши стилисты
          ul
            li
              a(href="stylist-card.html") Карточка стилиста
            li
              a(href="portfolio.html") Портфолио стилиста
      li
        a(href="answers.html") Стилисты отвечают
      li
        a(href="contacts.html") Контакты
      li
        a(href="my-orders.html") Мои заказы
      
      br

      li
        a(href="lk-stylist.html") Личный кабинет (с)
      li
        a(href="lk-client.html") Личный кабинет (к)
      li
        a(href="my-style.html") Мой стиль (к)
      li
        a(href="settings.html") Настройки

      br
      
      li
        a(href="404.html") Страница 404
      