include blocks/mixins

<!DOCTYPE html>
html(lang="ru")
head
  meta(charset="UTF-8")
  link(rel="stylesheet", href="css/style.css")

  block title

body
  .main
    include blocks/sidebar
    .home
      include blocks/header
      
      block section

include blocks/modal-auth
include blocks/modal-registration
include blocks/modal-success
include blocks/scripts