extends layout

block title
  title Личный кабинет

block section
  section.section.section--lk-stylist.section__home
    h1.section__title Личный кабинет
    .lk-stylist
      .container
        .lk-stylist__general
          .card.card__margin
            .card__photo-block
              a(href="settings.html")
                img(src="img/stylist1.png", alt="стилист")
              a(href="settings.html").btn.btn__card.btn--edit Редактировать
            .card__description
              .card__description__title Евгения Удальцова
              .card__description__text Каждая женщина, как цветок — неповторима. В каждой заложена уникальная природная красота. И я с удовольствием помогу вам ее раскрыть и усилить. Я открою вам коды доступа к вашей внешности. Предлагаю индивидуальный подход именно к вашей внешности и к вашим задачам. Каждый мужчина стремится стать более успешным и желает выглядеть стильно и уверенно. К вашим услугам разные варианты шоппинга, разбор гардероба, консультации по имиджу.
              .card__title-second Класс
              .card__description__text VIP
              .card__title-second Опыт работы
              .card__description__text Работала 3 года в компании "Пентхаус", занималась: Окрашиванием волос, укладкой, завивкой волос, женскими и мужскими стрижками, консультированием клиентов
              .card__title-second Образование
              .card__description__text Казанский Федеральный университет, факультет РГФ

        .lk-stylist__attention.info-block__wrapper
          h2.secondary-title.secondary-title--slim Обратите внимание:
          .lk-stylist__attention-orders
            +order("127609", "Заказ оплачен")
            +order("127610", "По заказу получен положительный отзыв")
            +order("127611", "Заказ оплачен")
            +order("127612", "По заказу получен положительный отзыв")
            +order("127613", "По заказу получен положительный отзыв")
            +order("127614", "Заказ оплачен")
        .orders-list
          h3.secondary-title Список заказов:
          ul.orders-list__names-list
            li.orders-list__names-item
              a(href="#").link-change-content.link-change-content--active Все заказы
            li.orders-list__names-item 
              a(href="#").link-change-content Одобренные для вас
            li.orders-list__names-item
              a(href="#").link-change-content Вас выбрал клиент
            li.orders-list__names-item
              a(href="#").link-change-content Выполненные заказы
          form(action="").form-orders-service
            .form-orders-service__inner
              label Услуга
                select.select-orders.select-orders--long
                  option Подбор макияжа
              label Формат
                select.select-orders.select-orders--short
                  option Очный
              label Класс
                select.select-orders.select-orders--short
                  option Начинающий
            input(type="submit", value="Найти").btn.btn--action

        .orders-block.orders-block__inner
          a(href="#").link-common Как получить заказ
          .orders__tip-description
            | Отправка заявки предполагает, что администратор может назначить
            | вас на этот заказ, не переспрашивая. Если вы не уверены на 100%,
            | обязательно напишите об этом в комментариях к заявке.
          .orders.orders__wrapper
            ul.orders__title
              li.orders__checkbox
              li.orders__id Номер
              li.orders__date-name Дата/Имя
              li.orders__service Услуга
              li.orders__format Формат
              li.orders__count Количество
              li.orders__class Класс
              li.orders__price Цена
            +orders__item(
              "000001", "21.02.2018", "Светлана", "Подбор макияжа", 
              "online", "2", "VIP", "7000")
            +orders__item(
              "000002", "21.02.2018", "Светлана", "Подбор макияжа", 
              "online", "2", "VIP", "7000")
            +orders__item(
              "000003", "21.02.2018", "Светлана", "Подбор макияжа", 
              "online", "2", "VIP", "7000")
            +orders__item(
              "000004", "21.02.2018", "Светлана", "Подбор макияжа", 
              "online", "2", "VIP", "7000")
            +orders__item(
              "000005", "21.02.2018", "Светлана", "Подбор макияжа", 
              "online", "2", "VIP", "7000")
            +orders__item(
              "000006", "21.02.2018", "Светлана", "Подбор макияжа", 
              "online", "2", "VIP", "7000")
            +orders__item(
              "000007", "21.02.2018", "Светлана", "Подбор макияжа", 
              "online", "2", "VIP", "7000")
          .orders__take
            input(type="submit", value="Взять заказ").btn.btn--action
            
