extends layout

block title
  title Мой стиль

block section
  section.section.section--lk-client.section__home
    h1.section__title Мой стиль
    .lk-client
      .container-home
      
        .info-block.info-block__wrapper
          h2.secondary-title Мой стиль
          .lk-client__style
            .lk-client__style-photo
              img(src="img/winter.png", alt="")
            .lk-client__style-seasons
              ul.lk-client__style-seasons-list
                a(href="#").link-change-content.link-change-content--active Зима
                a(href="#").link-change-content Весна
                a(href="#").link-change-content Лето
                a(href="#").link-change-content Осень

              .lk-client__style-seasons-description.lk-client__style-seasons-description--active
                p.lk-client__style-seasons-description-text
                  | Мода постоянно диктует нам свои требования и для
                  | современной девушки, желающей идти в ногу со временем,
                  | важно иметь возможность постоянно пополнять свой гардероб
                  | стильной одеждой. Коллекционная часть ассортимент обновляется
                  | в магазинах каждые две недели и отражает все модные тренды. 
                p.lk-client__style-seasons-description-text
                  | Продолжением цветовых и трендовых решений коллекционной
                  | части являются базовые модели, которые представлены во всех
                  | отделах женской одежды внутри магазинов, а так же бестселлеры
                  | прошлых сезонов, характеризующиеся умеренным дизайном и
                  | невысокими ценами.
                p.lk-client__style-seasons-description-text
                  | Мы сами контролируем весь процесс производства,
                  | начиная от разработки одежды и заканчивая розничной
                  | продажей моделей в собственных магазинах сети и Онлайн,
                  | что позволяет нам продавать хорошую качественную одежду
                  | по минимальным ценам.

              .lk-client__style-seasons-description
                p.lk-client__style-seasons-description-text
                  | Мода постоянно диктует нам свои требования и для
                  | современной девушки, желающей идти в ногу со временем,
                  | важно иметь возможность постоянно пополнять свой гардероб
                  | стильной одеждой. Коллекционная часть ассортимент обновляется
                  | в магазинах каждые две недели и отражает все модные тренды. 
                p.lk-client__style-seasons-description-text
                  | Продолжением цветовых и трендовых решений коллекционной
                  | части являются базовые модели, которые представлены во всех
                  | отделах женской одежды внутри магазинов, а так же бестселлеры
                  | прошлых сезонов, характеризующиеся умеренным дизайном и
                  | невысокими ценами.
              
              .lk-client__style-seasons-description
                p.lk-client__style-seasons-description-text
                  | Мода постоянно диктует нам свои требования и для
                  | современной девушк две недели и отражает все модные тренды. 
                p.lk-client__style-seasons-description-text
                  | Продолжением цветовых и трендовых решений коллекционной
                  | части являются базовые модели, которые представлены во всех
                  | отделах женской одежды внутри магазинов, а так же бестселлеры
                  | прошлых сезонов, характеризующиеся умеренным дизайном и
                  | невысокими ценами.

              .lk-client__style-seasons-description
                p.lk-client__style-seasons-description-text
                  | Мода постоянно диктует нам свои требования и для
                  | современной девушки, желающей идти в ногу со временем,
                  | важно иметь возможность постоянно пополнять свой гардероб
                  | стильной одеждой. Коллекционная часть ассортимент обновляется
                  | в магазинах каждые две недели и отражает все модные тренды. 
                p.lk-client__style-seasons-description-text
                  | Продолжением цвето

        .info-block.info-block__wrapper
          h2.secondary-title Тип фигуры
          .lk-client__style
            .lk-client__style-photo
              img(src="img/type-body-pear.png", alt="")
            .lk-client__style-seasons
              .lk-client__style-body-type
                h3 Груша
                p.lk-client__style-seasons-description-text
                  | Груша — тип фигуры, который среди современных женщин встречается нередко. Это такие дамы, у которых силуэт становится шире внизу, к бедрам. Плечи в этом случае по ширине бедрам уступают, а вот талия выделяется достаточно отчетливо, что визуально делает фигуру привлекательной и женственной. Подбирая одежду для данного типа строения тела, нужно помнить о том, что визуальные акценты следует сместить в верхнюю половину туловища, при этом бедра следует постараться по возможности скрыть.
        
        .info-block.info-block__wrapper
          h2.secondary-title Вид внешности и психотип
          .slider-tips
            .lk-client__style
              .lk-client__style-photo
                img(src="img/my-style/tip1.png", alt="")
              .lk-client__style-seasons
                .lk-client__style-tips
                  h3 Советы:
                  p.lk-client__style-seasons-description-text
                    | Мешковатые изделия лучше не носить, так как они откровенно портят фигуру, столь красивую от природы. Чаще всего она становится прямоугольником. На бедрах акценты ставить не стоит. Подбирая топы и блузки для фигуры типа песочные часы, не нужно забывать о балансе верха и низа тела.
                  p.lk-client__style-seasons-description-text
                    | Для того чтобы его поддержать, лучше брать такие топы, у которых бретелек нет, где есть глубокое декольте. Чтобы привлечь внимание к талии, можно рассмотреть прилегающие вещи, модели с запахом.
                  p.lk-client__style-seasons-description-text
                    | Чаще всего она становится прямоугольником. На бедрах акценты ставить не стоит. Подбирая топы и блузки для фигуры типа песочные часы, не нужно забывать о балансе верха и низа тела. Для того чтобы его поддержать, лучше брать такие топы, у которых бретелек нет, где есть глубокое декольте. Чтобы привлечь внимание к талии, можно рассмотреть прилегающие вещи, модели с запахом.
            .lk-client__style
              .lk-client__style-photo
                img(src="img/my-style/tip1.png", alt="")
              .lk-client__style-seasons
                .lk-client__style-tips
                  h3 Советы:
                  p.lk-client__style-seasons-description-text
                    | Мешковатые изделия лучше не носить, так как они откровенно портят фигуру, столь красивую от природы. Чаще всего она становится прямоугольником. На бедрах акценты ставить не стоит. Подбирая топы и блузки для фигуры типа песочные часы, не нужно забывать о балансе верха и низа тела.
                  p.lk-client__style-seasons-description-text
                    | Для того чтобы его поддержать, лучше брать такие топы, у которых бретелек нет, где есть глубокое декольте. Чтобы привлечь внимание к талии, можно рассмотреть прилегающие вещи, модели с запахом.
                  p.lk-client__style-seasons-description-text
                    | Чаще всего она становится прямоугольником. На бедрах акценты ставить не стоит. Подбирая топы и блузки для фигуры типа песочные часы, не нужно забывать о балансе верха и низа тела. Для того чтобы его поддержать, лучше брать такие топы, у которых бретелек нет, где есть глубокое декольте. Чтобы привлечь внимание к талии, можно рассмотреть прилегающие вещи, модели с запахом.
          .slider-tips__number 2 / 2

        .info-block.info-block__wrapper
          h2.secondary-title Фото до и после
          .lk-client__style
            .lk-client__style-photo.lk-client__style-photo--before-after
              img(src="img/clients/4before.png", alt="")
              img(src="img/clients/4-1after.png", alt="")
              img(src="img/clients/4-2after.png", alt="")
            .lk-client__style-seasons
              .lk-client__style-d
                h3 Фото до и после от 20 сентября 2016
                p.lk-client__style-seasons-description-text
                  | Для того чтобы его поддержать, лучше брать такие топы, у которых бретелек нет, где есть глубокое декольте. Чтобы привлечь внимание к талии, можно рассмотреть прилегающие вещи, модели с запахом.