extends layout

block title
  title Наши услуги

block section
  section.section.section--services.section__home
    h1.section__title Наши услуги
    .container

      +service-card(
      'img/services/image-consultation.png',
      'Имидж-консультация',
      'Встреча с личным стилистом, в процессе которой стилист определит ваш цветотип' +
      'тип фигуры, вы получите рекомендации по подбору одежды и советы по стилю.' +
      'Имидж-консультация может быть проведена в скайпе.',
      'у клиента в кабинете появляется информация от стилиста')
      
      +service-card(
      'img/services/analysis-wardrobe.png',
      'Разбор гардероба',
      'Выявление скрытых возможностей вашего гардероба, создание комплектов' +
      'с уже имеющимися вещами. Рекомендации по недостающим предметам одежды.' +
      'для дополнения гардероба.',
      'у клиента в кабинете появляется информация от стилиста')

      +service-card(
      'img/services/create-style.png',
      'Разработка стилевого решения',
      'Встреча с личным стилистом, обсуждение ваших пожеланий, определение' +
      'вашего цветотипа, фигуры, для подбора наилучшие решения.' +
      'На решение задачи дается 1-2 недели, после этого, в вашем ЛК появится' +
      'разработанное стилевое решение (15 образов, советы по прическе и макияжу)',
      'у клиента в кабинете появляется информация от стилиста')

      +service-card(
      'img/services/shopping-support.png',
      'Шоппинг-сопровождение (возможно, в онлайн магазинах)',
      'Данная услуга осуществляется только после имидж-консультации, которая' +
      'может быть проведена также в скайпе. Стилист свяжется с вами и вы обсудите' +
      'детали шоппинга: ваши пожелания, цели, бюджет на покупки, и т.п. Таким' +
      'образом стилист сформулирует задачу. После этого вы идете с вашим личным' +
      'стилистом по магазинам.',
      'за 3-4 часa шопинг-сопровождения обычно можно создать несколько' +
      'полных комплектов одежды с обувью и аксессуарами.')

      +service-card(
      'img/services/selection-hairstyle.png',
      'Подбор прически. Можно онлайн, при отпрвлениии фотографии и скайп',
      'Cопровождение в салон красоты. Потом предлагает варианты и пойдет с вами' +
      'в салон красоты, он будет разговоривать с мастером, обяснять что нужно и' +
      'быть рядом чтобы контролировать процесс стрижки, и/или окрашивания волос.' +
      'Салон красоты может быть тот, куда вы постоянно ходите, может быть рядом' +
      'с домом, или сам стилист может рекомендовать несколько вариантов: выбор за вами',
      'новая стрижка и/или цвет волос, и стилист покажет 3 вида прически которые больше' +
      'всего вам подходят: повседневный, вечерный или клубный, и на свидание или' +
      'на прогулку.')

      +service-card(
      'img/services/select-makeup.png',
      'Подбор макияжа (2 образа, обучение, шоппинг косметики)',
      'Встреча с личным стилистом, в процессе которой стилист определит' +
      'ваш цветотип, тип фигуры, вы получите рекомендации по подбору одежды и' +
      'советы по стилю. Имидж-консультация может быть проведена в скайпе.',
      'у клиента в кабинете появляется информация от стилиста')

      +service-card(
      'img/services/photo-session.png',
      'Фотосессия',
      'Встреча с личным стилистом, в процессе которой стилист определит' +
      'ваш цветотип, тип фигуры, вы получите рекомендации по подбору одежды и' +
      'советы по стилю. Имидж-консультация может быть проведена в скайпе.',
      'у клиента в кабинете появляется информация от стилиста')

      +service-card(
      'img/services/new-look.png',
      'Пакет или подарочный сертификат «New look»',
      'Встреча с личным стилистом, в процессе которой стилист определит' +
      'ваш цветотип, тип фигуры, вы получите рекомендации по подбору одежды и' +
      'советы по стилю. Имидж-консультация может быть проведена в скайпе.',
      'у клиента в кабинете появляется информация от стилиста')

      +service-card(
      'img/services/make-over.png',
      'Пакет или подарочный сертификат «Make-over»',
      'Встреча с личным стилистом, в процессе которой стилист определит' +
      'ваш цветотип, тип фигуры, вы получите рекомендации по подбору одежды и' +
      'советы по стилю. Имидж-консультация может быть проведена в скайпе.',
      'у клиента в кабинете появляется информация от стилиста')