extends layout

block title
  title Настройки

block section
  section.section.section--settings.section__home
    .container-lk
      h1.section__title Настройки
      form.form-settings(action="")
        label Имя
          input.form__input(type="text" value="Евгения" required)
        label Фамилия
          input.form__input(type="text" value="Удальцова" required)
        label Электронная почта
          input.form__input(type="email" value="example@mail.ru" required)
        label Пароль
          input.form__input(type="password" value="qwerty" required)
        label Обо мне
          textarea.form__input(cols="30" rows="10") Каждая женщина, как цветок — неповторима. В каждой заложена уникальная природная красота. И я с удовольствием помогу вам ее раскрыть и усилить. Я открою вам коды доступа к вашей внешности. Предлагаю индивидуальный подход именно к вашей внешности и к вашим задачам. Каждый мужчина стремится стать более успешным и желает выглядеть стильно и уверенно. К вашим услугам разные варианты шоппинга, разбор гардероба, консультации по имиджу.
        label Класс
          select.form__input
            option VIP
            option Стилист первой категории
            option Начинающий стилист
        label Опыт работы
          textarea.form__input(cols="30", rows="10") Работала 3 года в компании "Пентхаус", занималась: Окрашиванием волос, укладкой, завивкой волос, женскими и мужскими стрижками, консультированием клиентов
        label Образование
          textarea.form__input(cols="30", rows="10") Казанский Федеральный университет, факультет РГФ
        label Аватар
          input(type="file")
        .start-change
          input(type="submit" value="Сохранить").btn.btn--action