extends layout

block title
  title Наши стилисты

block section
  section.section.section--stylists.section__home
    h1.section__title Наши стилисты
    .container
      .stylists.stylists__section
        ul.stylists__sort
          li.stylists__sort-category Категория:
            select(name="").select vip
              option(value="vip") vip
              option(value="common") common
          li.stylists__sort-category Вид услуг: 
            a(href="#").link-tab.stylists__service прическа
            a(href="#").link-tab.stylists__service макияж
          li.stylists__sort-category Сортировка по рейтингу
            select(name="").select 5 звезд
              option(value="five-star") 5 звезд
              option(value="four-star") 4 звезды
              option(value="three-star") 3 звезды
              
        +stylist-card("img/stylist1.png", "Евгения Удальцова")
        +stylist-card("img/stylist2.png", "Наталья Сазоновская-Броская")
        +stylist-card("img/stylist1.png", "Светлана Высоцкая")

        .stylists__upload
          button.btn.btn--upload-more-stylists
          br
          span.stylists__upload-text Загрузить еще