extends layout

block title
  title Наши стилисты

block section
  section.section.section--stylists.section__home
    h1.section__title Наши стилисты
    .container
      .card.card__margin
        .card__photo-block
          img(src="img/stylist1.png", alt="стилист")
          button.btn.btn--action.btn__card Выбрать стилиста
        .card__description
          .card__description__title Евгения Удальцова
          .card__review-stars
            label(title="ужасно")
              input(type="radio", id="star-4")
            label(title="плохо")
              input(type="radio", id="star-3")
            label(title="средне")
              input(type="radio", id="star-2")
            label(title="хорошо")
              input(type="radio", id="star-1")
            label(title="отлично")
              input(type="radio", id="star-0")
          .card__description__text Каждая женщина, как цветок — неповторима. В каждой заложена уникальная природная красота. И я с удовольствием помогу вам ее раскрыть и усилить. Я открою вам коды доступа к вашей внешности. Предлагаю индивидуальный подход именно к вашей внешности и к вашим задачам. Каждый мужчина стремится стать более успешным и желает выглядеть стильно и уверенно. К вашим услугам разные варианты шоппинга, разбор гардероба, консультации по имиджу.
          .card__title-second Класс
          .card__description__text VIP
          .card__title-second Опыт работы
          .card__description__text Работала 3 года в компании "Пентхаус", занималась: Окрашиванием волос, укладкой, завивкой волос, женскими и мужскими стрижками, консультированием клиентов
          .card__title-second Образование
          .card__description__text Казанский Федеральный университет, факультет РГФ
          
      a(href="portfolio.html").card__description__title.card__description__title--center Портфолио 
        span.card__count (10)
      .slider.slider--portfolio
        .slide
          .slide__wrapper
            .slide__photos
              .photo__first
                img(src="img/clients/1after.png", alt="")
              .photo__second
                img(src="img/clients/1before.png", alt="")
            .comment.comment__slider
              .comment__user-photo
                img(src="img/user-photo/1.png", alt="", width="79px", height="79px")
              .comment__user-block
                .comment__user-text-title Марина, 35 лет
                .comment__user-text-text Мне очень понравилось работать со стилистом Евгенией, она подобрала мне новый стиль! Теперь у меня отличное портфолио из моих стилей.
        .slide
          .slide__wrapper
            .slide__photos
              .photo__first
                img(src="img/clients/2after.png", alt="")
              .photo__second
                img(src="img/clients/2before.png", alt="")
            .comment.comment__slider
              .comment__user-photo
                img(src="img/user-photo/1.png", alt="", width="79px", height="79px")
              .comment__user-block
                .comment__user-text-title Марина, 35 лет
                .comment__user-text-text Мне очень понравилось работать со стилистом Евгенией, она подобрала мне новый стиль! Теперь у меня отличное портфолио из моих стилей.
        .slide
          .slide__wrapper
            .slide__photos
              .photo__first
                img(src="img/clients/3after.png", alt="")
              .photo__second
                img(src="img/clients/3before.png", alt="")
            .comment.comment__slider
              .comment__user-photo
                img(src="img/user-photo/1.png", alt="", width="79px", height="79px")
              .comment__user-block
                .comment__user-text-title Марина, 35 лет
                .comment__user-text-text Мне очень понравилось работать со стилистом Евгенией, она подобрала мне новый стиль! Теперь у меня отличное портфолио из моих стилей.