* {
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: Arial;
  font-weight: normal;
  line-height: 1.5;
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
}

textarea {
  resize: none;
}

@media ($xs) {
  .wrapper {
    margin-left: 0;
  }
}

@media ($xl) {
  .wrapper {
    margin-left: 242px;
  }
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 10px;
}

@media ($xs) {
  .container-lk {
    width: 80%;
    margin: 0 auto;
  }
}

@media ($md) {
  .container-lk {
    width: 50%;
    max-width: 500px;
    margin: 0 auto;
  }
}

@media ($xl) {
  .container-lk {
    width: 40%;
    max-width: 400px;
    margin: 0 auto;
  }
}

.container-communication {
  max-width: 80%;
  margin: 0 auto;
}

.container-home {
  max-width: 94%;
  margin: 0 auto;
}

.section {
  position: relative;
  padding-bottom: 50px;
}

.alert {
  color: $alert;
}

.notification {
  width: 27px;
  height: 27px;
  background-color: $alert;
  display: inline-block;
  text-align: center;
  border-radius: 15px;
  color: white;
}

.paragraph {
  margin-bottom: 20px;

  &:last-child {
    margin-bottom: 0;
  }
}
