* {
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: Arial;
  font-weight: normal;
  line-height: 1.5;
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
}

textarea {
  resize: none;
}

.wrapper {
  margin-left: 242px;
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 10px;
}

.container-lk {
  width: 40%;
  margin: 0 auto;
}

.container-communication {
  max-width: 80%;
  margin: 0 auto;
}

.container-home {
  max-width: 94%;
  margin: 0 auto;
}

.section {
  margin-bottom: 50px;
}

.alert {
  color: $alert;
}