$color-accent: rgb(14, 126, 119);
$color-accent-dark: mix(black, $color-accent, 40%);
$color-accent-light: rgb(124, 190, 172);
$color-text: #000000;
$color-input: #90a4ae;
$white: #fff;
$light-gray: #eee;
$before-after: #fef7c6;
$cream: #fdf0da;
$cream-dark: mix(black, $cream, 10%);
$transition: 0.3s;
